/* @import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"); */
@import url("//fonts.cdnfonts.com/css/bodoni-moda");
@import url("//fonts.cdnfonts.com/css/dominant-youth");
@font-face {
  font-family: "NanumSquareNeoLight";
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot");
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix")
      format("embedded-opentype"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff")
      format("woff"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot");
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix")
      format("embedded-opentype"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff")
      format("woff"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumSquareNeoBold";
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot");
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix")
      format("embedded-opentype"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff")
      format("woff"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumSquareNeoExtraBold";
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot");
  src: url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix")
      format("embedded-opentype"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff")
      format("woff"),
    url("//hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf")
      format("truetype");
}
