* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "NanumSquareNeo";
}

a {
  text-decoration: none;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-family: "NanumSquareNeo";
}

ul,
ol {
  list-style: none;
}
.hidden {
  @include sr-only;
}

img {
  max-width: 100%;
}

a:focus,
button:focus {
  outline: 2px dashed #bd413d;
}
