footer {
  color: #fff;
  background-color: #131313;
  .container {
    padding-top: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "Dominant Youth", sans-serif;
    h3 {
      font-size: 8vw;
    }
    @include mobile {
      height: 180px;
      padding-top: 0;
      padding-bottom: 10px;
      gap: 20px;
      flex-direction: column-reverse;
      align-items: flex-start;
      h3 {
        font-size: 55px;
        font-weight: bold;
      }
      ul li {
        font-size: 12px;
      }
    }
    ul {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      li {
        display: flex;
        gap: 10px;
        text-transform: uppercase;
        padding: 3px 0;
        a {
          display: block;
          color: #aaa;
        }
      }
    }
  }
}
